@model PagingList<Z_Institute.Models.Student>
@using ReflectionIT.Mvc.Paging

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<div>
	<form method="get" asp-action="Index" class="form-inline my-2 my-lg-0">
		search by name : &nbsp;
		<input type="search" name="searchString" value="@ViewData["currentFilter"]" placeholder="search" class="form-control mr-sm-2" />
		<input type="submit" value="Search" class="btn btn-outline-success my-2 my-sm-0" />
	</form>
</div>
<br />
<nav aria-label="Students navigation">
	<vc:pager paging-list="@Model"></vc:pager>
</nav>
<br />
<table class="table">
	<thead>
		<tr>
			<th>
				@*@Html.DisplayNameFor(model => model.FirstName)*@
				<a asp-action="Index" asp-route-sortOrder="@ViewData["sortName"]">
					First Name
				</a>
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LastName)
			</th>
			<th>
				@*@Html.DisplayNameFor(model => model.EnrollmentDate)*@
				<a asp-action="Index" asp-route-sortOrder="@ViewData["sortByDate"]">
					Enrollment Date
				</a>
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.FirstName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LastName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EnrollmentDate)
				</td>
				<td>
					@*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
						<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
						<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
					<partial name="Partials/_GroupButtonPartial" model="@item.StudentId" />
				</td>
			</tr>
		}
	</tbody>
</table>

<nav aria-label="Products navigation example">
	<vc:pager paging-list="@Model" />
</nav>