@model Z_Institute.ViewModels.IntructorViewModel

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				First Name
			</th>
			<th>
				Last Name
			</th>
			<th>
				Hire Date
			</th>
			<th>
				Location
			</th>
			<th>
				Title
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Instructors)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.FirstName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LastName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.HireDate)
				</td>
				<td>
					@if (item.OfficeAssignment != null)
					{
						@item.OfficeAssignment.Location
					}
				</td>
				<td>
					@foreach (var course in item.CourseAssignments)
					{
						@course.Course.CourseName<br />
					}
				</td>foreach

				<td>
					<a asp-action="Index" asp-route-id="@item.InstructorId">Select</a> |
					<a asp-action="Edit" asp-route-id="@item.InstructorId">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.InstructorId">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.InstructorId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

@if (Model.Courses != null)
{
	<h3>Courses Taught by Selected Instructor</h3>
	<table class="table table-sm table-hover">
		<thead class="thead-light">
			<tr>
				<th>Number</th>
				<th>Title</th>
				<th>Department</th>
				<th>.</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var c in Model.Courses)
			{
				<tr>
					<td>
						@c.CourseName
					</td>
					<td>
						@c.Credits
					</td>
					<td>
						@c.Department.DepartmentName
					</td>
					<td>

					</td>
				</tr>
			}
		</tbody>	
	</table>
}
